div#contents {
	height: 100vh;
	box-sizing: border-box
}

div#contents {
	width: 750px;
	min-height: 100%;
	border: 0;
	padding: 1rem;
	margin: 0 auto;
	background-color: white;
	font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', "Hiragino Sans", Meiryo, sans-serif;
}

footer {
	position: fixed;
	bottom: 0;
}

body {
	background-color: #e39182;
	margin: 0px;
}

.timeline li {
	/* font-family: monospace; */
	/* 桁が揃うフォント */
	text-indent: -11ch;
	/* 左に出す分 */
	padding-left: 11ch;
	/* 本文の開始位置 */
}

h1#center {
	text-align: center;
}
